
#header {
    height: 80px;
    color: black;
    font-size:30px;
    padding: 20px;
    background: rgba(255,255,255,0.9);
    border-bottom: 1px solid #e3e3e3;
    text-align: center;
}
#footer {
    height: 50px;    
    border-top: 1px solid #CECECE;
    background: #CECECE;
    width: 100%;
    position: absolute;
    display: block;
    bottom: 0;
}
.container {
    padding: 30px;
}
.block {
    display: block;
}
.break-bottom {
   margin-bottom: 1em; 
}
.nav {
    list-style-type: none;
}